.title{
    text-align: center;
    color:#212EA0;
    font-size: 15px;
    font-weight: 600;
    margin: 70px 0 30px;
    text-transform: uppercase;
}
.title h2{
    font-size: 40px;
    font-weight: 600;
    color:#000F38;
}