.about {
    margin:100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.about-left {
    flex-basis: 40%;
    position: relative;
}
img.about-img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.about-right {
    flex-basis: 56%;
}
.about-right h3{
    font-size: 16px;
    font-weight: 600;
    color: #212ea0;
}
.about-right h2{
    font-size: 36px;
    font-weight: 600;
    color: #000f38;
    margin: 10px 0 20px;
}
.about-right p{
    line-height: 1.6;
    margin-bottom: 20px;
    color: #676767;
}
.play-icon {
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}