.video-player {
    position: fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index: 9999;
    background: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-player video{
    width: 90%;
    max-width: 900px;
    height: auto;
    border: 4px solid #fff;
    border-radius: 10px;
}

.video-player.hide{
    display: none;
}