.contact {
    margin: 80px auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-col {
    flex-basis: 48%;
    color: #676767;
}

.contact-col h3 {
    color: #212EA0;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 10px;
}

.contact-col h3 img {
    width: 35px;
    margin-left: 10px;
}

.contact-col p {
    max-width: 450px;
    line-height: 1.6;
}
.contact-col ul li{
    display: flex;
    align-items: center;
    margin:20px 0px;
}
.contact-col ul li img{
    margin-right:10px;
}
.contact form input, .contact form textarea{
    display: block;
    width: 100%;
    padding: 15px;
    background: #EBECfE;
    border: none;
    border-radius: 5px;
    outline: none;
    margin-top: 5px;
    margin-bottom: 15px;
    resize: none;
}
.form-control{
    margin-bottom:15px;
}
.sending-msg{
    display: block;
    margin: 20px 0px;

}

@media(max-width:800px){
    .contact{
        flex-direction: column;
    }
    .contact-col{
        flex-basis: 100%;
        max-width: 100%;
        width: 100%;
        margin-bottom: 10px;
        order: 2;
    }
    input{
        width: 100%;
    }
}