* {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

ul li {
    list-style: none;
}

.testimonials {
    margin: 80px auto;
    padding: 0 80px;
    position: relative;
}

.next-btn,
.back-btn {
    position: absolute;
    top: 50%;
    padding: 15px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    background: #212EA0;
    color: #fff;
    transform: translateY(-50%);
}

.next-btn {
    right: 0;
}

.back-btn {
    left: 0;
}

.slider {
    overflow: hidden;
}

.slider ul {
    display: flex;
    width: 200%;
    overflow-x: hidden;
    transition: .5s;
    transform: translateX(0%);
}

.slider ul li {
    list-style: none;
    width: 100%;
    padding: 20px;
}

.slide {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: #676767;
    padding: 40px;
    line-height: 1.45;
}

.slide img {
    width: 65px;
    border-radius: 50%;
    margin-right: 10px;
    border: 4px solid #212ea0;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 15px;
}

.user-info h3{
    color:#212EA0;
    font-size:18px;
}