.programs {
    margin: 80px auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.program img {
    margin: 0px auto;
    width: 100%;
    border-radius: 10px;
    display: block;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.program {
    flex-basis: 30%;
    position: relative;
}

.program:hover .caption {
    opacity: 1;
    cursor: pointer;
    padding-top: 0;
}

.caption {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 15, 152, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    opacity: 0;
    padding-top: 70%;
    transition: 0.4s;
}

.caption img {
    width: 60px;
    margin-bottom: 10px;
}

/* media query */

@media(max-width:840px){
    .programs{
        flex-direction: column;
    }
    .program{
        margin-bottom: 20px;
    }
}